/* Text Input Very Long Box*/    
.charsheet input.sheet-verylong {
    font-size: 85%;
    width: 235px;
    height: 18px;
    border-style: solid;
    border-width: 1px;
    padding: 1px;
}

/*Wide Border Styling*/
.charsheet .sheet-wide-border {
    border-style: solid;
    border-color: black;
    border-width: 5px;
    padding: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    margin-left: 10px;
    padding-top: 0px;
    box-shadow: -10px 10px 5px #888888;
    font-weight: bold;
}

/*Inverted Header Styling*/
.charsheet .sheet-inverted {
    text-align:center;
    background: black;
    color: white;
    width: 12em;
    padding: 5px;
    padding-top: 0px;
    margin: 2px;
    margin-top: 0px;
}

/* Inverted Header for Section Breaks */
.charsheet .sheet-inverted-three {
    margin-top: 10px;
    font-size: 90%;
    color: white;
    background: black;
    text-align: center;
    width: 97%;
}
/*Inverted Long Header Styling*/
.charsheet .sheet-inverted-long {
    text-align:center;
    background: black;
    color: white;
    width: 33em;
    padding: 5px;
    padding-top: 0px;
    margin: 2px;
    margin-top: 0px;
}

/* Label Adjust */
.charsheet .sheet-label-adjust {
    font-size: 85%;
    font-weight: bold;
    display: inline;
}

/* Label Adjust */
.charsheet .sheet-label-adjust-two {
    font-size: 85%;
    font-weight: bold;
}

/* Character Sheet Hard Return */
.charsheet hr {
    border-color: black;
    margin: 2px;
    margin-top: 5px;
}

/* Character Sheet Hard Return with Extra Bottom Margin */
.charsheet hr.sheet-bottom-margin {
    border-color: black;
    margin: 2px;
    margin-top: 5px;
    margin-bottom: 13px;
}

/* <p> Element Adjusting Font */
.charsheet .sheet-font-adjust {
    font-size: 118%;
    background-color: #fff;
}

/* Text Input Long Box*/    
.charsheet input.sheet-long {
    width: 125px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: solid;
    border-left-style: none;
    border-color: black;
    border-width: 2px;
    padding: 1px;
}

/* Number Input Box */
.charsheet input[type="number"].sheet-number-small {
    width: 45px;
    height: 20px;
    padding: 1px;
    margin: 2px;
    text-align: center;
}

/* Select Tonnage */
.charsheet select.sheet-tonnage-select {
    display: inline;
    width: 55px;
    height: 20px;
    padding: 1px;
    margin: 2px;
}

/* Select Engine */
.charsheet select.sheet-engine-select {
    display: inline;
    width: 172px;
    height: 20px;
    padding: 1px;
    margin: 2px;
    font-size: 90%;
    font-weight: bold;
}

/* Heat Dissipation Roll Button */
.charsheet button[type=roll].sheet-heat-roll-button::before {
    content: "Heat Dissipation Roll";
    font-family: arial;
    font-size: 65%;
    font-weight: bold;
}

/* Text Input Extralong Box*/    
.charsheet input.sheet-extralong {
    width: 160px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: solid;
    border-left-style: none;
    border-color: black;
    border-width: 2px;
    padding: 1px;
    margin-bottom: 8px;
}

/* Initiative Roll Button */
.charsheet button[type=roll].sheet-initiative-roll-button::before {
    content: "Initiative Roll";
    font-family: arial;
    font-size: 65%;
    font-weight: bold;
    margin-bottom: 5px;
}

/* Piloting Roll Button */
.charsheet button[type=roll].sheet-piloting-roll-button::before {
    content: "Piloting Roll";
    font-family: arial;
    font-size: 65%;
    font-weight: bold;
    margin-bottom: 5px;
}

/* Spacing for Warrior Hits <Div> */
.charsheet .sheet-extra-margin {
    margin: 8px;
}

/* Warrior Hits Section 1 Column 3 (Opacity for "0" Check Box) */
.charsheet .sheet-warrior-checkbox {
    opacity: .1;
}

/* Hide actual radio */
.charsheet input[type="radio"].sheet-warrior-radio {
    opacity: 0;
    width: 16px;
    height: 16px;
    position: relative;
    top: 5px;
    left: 6px;
    margin: -10px;
    cursor: pointer;
    z-index: 1;
}

/* Fake radio */
.charsheet input[type="radio"].sheet-warrior-radio + span::before {
    margin-right: 4px;
    border: solid 1px #a8a8a8;
    line-height: 14px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    
    -moz-box-shadow: 0 0 2px #ccc;
    -webkit-box-shadow: 0 0 2px #ccc;
    box-shadow: 0 0 2px #ccc;
    
    background: #f6f6f6;
    background: -moz-radial-gradient(#f6f6f6, #dfdfdf);
    background: -webkit-radial-gradient(#f6f6f6, #dfdfdf);
    background: -ms-radial-gradient(#f6f6f6, #dfdfdf);
    background: -o-radial-gradient(#f6f6f6, #dfdfdf);
    background: radial-gradient(#f6f6f6, #dfdfdf);
    
    content: "✘";
    width: 12px;
    height: 12px;
    font-size: 12px;
    color: rgb(204,0,0);
    
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

/* Remove dot from all radios _after_ selected one */
.charsheet input[type="radio"].sheet-warrior-radio:checked ~ input[type="radio"] + span::before {    
    content: "";
}

/* Consciousness Roll Button Styling */
.charsheet button[type=roll].sheet-consciousness-roll-button::before {
    content: "Consciousness Roll";
    font-family: arial;
    font-size: 65%;
    font-weight: bold;
    margin: 10px;
}

/* Tab Styling */
.charsheet div.sheet-tab-content {
    display: none;
}

.charsheet input.sheet-tab1:checked ~ div.sheet-tab1,
.charsheet input.sheet-tab2:checked ~ div.sheet-tab2,
.charsheet input.sheet-tab3:checked ~ div.sheet-tab3,
.charsheet input.sheet-tab4:checked ~ div.sheet-tab4,
.charsheet input.sheet-tab5:checked ~ div.sheet-tab5 {
    display: block;
}

.charsheet input.sheet-tab {
    width: 164px;
    height: 20px;
    position: relative;
    top: 5px;
    left: 6px;
    margin: -1.5px;
    cursor: pointer;
    z-index: 1;
}

.charsheet input.sheet-tab::before {
    content: attr(title);
    
    border: solid 1px #a8a8a8;
    text-align: center;
    display: inline-block;
    
    background: #fff;
    background: -moz-linear-gradient(to top, #c8c8c8, #fff, #c8c8c8);
    background: -webkit-linear-gradient(to top, #c8c8c8, #fff, #c8c8c8);
    background: -ms-linear-gradient(to top, #c8c8c8, #fff, #c8c8c8);
    background: -o-linear-gradient(to top, #c8c8c8, #fff, #c8c8c8);
    background: linear-gradient(to top, #c8c8c8, #fff, #c8c8c8);
    
    width: 164px;
    height: 20px;
    font-size: 18px;
}

.charsheet input.sheet-tab:checked::before {
    background: #fff;
    border-top-color: #fff;
    border-bottom-color: #fff;
}

.charsheet input.sheet-tab:not(:first-child)::before {
    border-left: none;
}

.charsheet div.sheet-tab-content {
    border: 1px solid #a8a8a8;
    border-top-color: #000;
    margin: 2px 0 0 5px;
    padding: 5px;
}

/* END TAB STYLING */

/* Tab 1 (Armor) Background-1 */
/* <a href="http://imgur.com/BApNDwu"><img src="http://i.imgur.com/BApNDwu.jpg" title="source: imgur.com" /></a> */
.charsheet .sheet-background-1 {
    background-image: url("http://i.imgur.com/mckAzws.jpg");
    /* background-size: 500px 720px; */
    background-size: 100%;
    background-origin: content-box;
    background-repeat: no-repeat;
}

/* Tab 1 (Armor) Background-2 */
/* <a href="http://imgur.com/47yTBHu"><img src="http://i.imgur.com/47yTBHu.jpg" title="source: imgur.com" /></a> */
.charsheet .sheet-background-2 {
    background-image: url("http://i.imgur.com/47yTBHu.jpg");
    background-size: 100%;
    background-origin: content-box;
    background-repeat: no-repeat;
}

/* Tab 1 (Armor) Number Input Box */
.charsheet input[type="number"].sheet-number-armor {
    width: 36px;
    height: 18px;
    padding: 1px;
    margin: 2px;
    text-align: center;
}

/* Hide actual radio */
.charsheet input[type="radio"].sheet-armor-radio {
    opacity: 0;
    width: 16px;
    height: 16px;
    position: relative;
    top: 5px;
    left: 6px;
    margin: -10px;
    cursor: pointer;
    z-index: 1;
}

/* Fake radio */
.charsheet input[type="radio"].sheet-armor-radio + span::before {
    margin-right: 4px;
    border: solid 1px #a8a8a8;
    line-height: 14px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    
    -moz-box-shadow: 0 0 2px #ccc;
    -webkit-box-shadow: 0 0 2px #ccc;
    box-shadow: 0 0 2px #ccc;
    
    background: #f6f6f6;
    background: -moz-radial-gradient(#f6f6f6, #dfdfdf);
    background: -webkit-radial-gradient(#f6f6f6, #dfdfdf);
    background: -ms-radial-gradient(#f6f6f6, #dfdfdf);
    background: -o-radial-gradient(#f6f6f6, #dfdfdf);
    background: radial-gradient(#f6f6f6, #dfdfdf);
    
    content: "•";
    width: 12px;
    height: 12px;
    font-size: 31px;
    color: rgb(204,0,0);
    
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

/* Remove dot from all radios _after_ selected one */
.charsheet input[type="radio"].sheet-armor-radio:checked ~ input[type="radio"] + span::before {    
    content: "/";
    font-size: 16px;
    color: rgb(163,163,163);
    opacity: .75;
}

/* Tab 1 Section 1 Table Left Justify */
.charsheet .sheet-table-left {
    text-align: left;
}

/* Tab 1 Section 2 Internal Structure Select */
.charsheet select.sheet-internalstructure-select {
    display: inline;
    width: 75%;
    height: 20px;
    padding: 1px;
    margin: 2px;
    font-size: 90%;
    font-weight: bold;
    margin-left: 12.5%;
}

/* Critical Hits Table Checkbox Styling */
/* Hide Actual Checkbox */
.charsheet input[type="checkbox"].sheet-critical-checkbox {
    opacity: 0;
    width: 16px;
    height: 16px;
    position: relative;
    top: 5px;
    left: 6px;
    margin: -10px;
    cursor: pointer;
    z-index: 1;
}

/* Fake Checkbox */
.charsheet input[type="checkbox"].sheet-critical-checkbox + span::before {
    margin-right: 4px;
    border: solid 1px #a8a8a8;
    line-height: 14px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    
    -moz-box-shadow: 0 0 2px #ccc;
    -webkit-box-shadow: 0 0 2px #ccc;
    box-shadow: 0 0 2px #ccc;
    
    background: #f6f6f6;
    background: -moz-radial-gradient(#f6f6f6, #dfdfdf);
    background: -webkit-radial-gradient(#f6f6f6, #dfdfdf);
    background: -ms-radial-gradient(#f6f6f6, #dfdfdf);
    background: -o-radial-gradient(#f6f6f6, #dfdfdf);
    background: radial-gradient(#f6f6f6, #dfdfdf);
    
    content: "✔";
    width: 12px;
    height: 12px;
    font-size: 12px;
    color: rgb(0,204,0);
    
    -moz-border-radius: 25%;
    -webkit-border-radius: 25%;
    border-radius: 25%;
}

/* Remove dot from all radios _after_ selected one */
.charsheet input[type="checkbox"].sheet-critical-checkbox:checked + span::before {    
    content: "✘";
    color: rgb(204,0,0);
}

/* Text Input Uberlong Box*/    
.charsheet input.sheet-uberlong {
    width: 200px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: solid;
    border-left-style: none;
    border-color: #808080;
    border-width: 2px;
    padding: 1px;
}

/* Tab 1 Critical Hits Inside Border */
.charsheet .sheet-criticalhit-border {
    border-style: solid;
    border-color: black;
    border-width: 2px;
    padding: 5px;
    margin: 10px;
    margin-left: 16%;
}

/* Tab 1 Critical Hits Locatiion Inside Border */
.charsheet .sheet-criticalhit-location-border {
    border-style: solid;
    border-color: black;
    border-width: 2px;
    padding: 5px;
    padding-top: 0px;
    margin: 10px;
    margin-top: 0px;
    margin-left: 7%;
}

/* Head / Leg Critical Location Roll Button */
.charsheet button[type=roll].sheet-head-leg-critical::before {
    content: "Head / Leg Critical Location";
    font-family: arial;
    font-size: 65%;
    font-weight: bold;
    margin: 8px;
}

/* Arm / Torso Critical Location Roll Button */
.charsheet button[type=roll].sheet-arm-torso-critical::before {
    content: "Arm / Torso Critical Location";
    font-family: arial;
    font-size: 65%;
    font-weight: bold;
    margin: 8px;
}

/* Tab 2 Weapons Input Weapon Short */
.charsheet input.sheet-weapon-short {
    text-align: center;
    width: 35px;
    border-style: solid;
    border-color: #808080;
    border-width: 1px;
    padding: 1px;
    margin: 1px;
}

/* Tab 2 Weapons Input Weapon Short Underline */
.charsheet input.sheet-weapon-short-underline {
    text-align: center;
    width: 35px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: solid;
    border-left-style: none;
    border-color: #808080;
    border-width: 1px;
    padding: 1px;
    margin: 1px;
}

/* Tab 2 Weapons Input Weapon  */
.charsheet input.sheet-weapon {
    text-align: center;
    width: 51px;
    border-style: solid;
    border-color: #808080;
    border-width: 1px;
    padding: 1px;
    margin: 1px;
}

/* Tab 2 Weapons Input Weapon Underline */
.charsheet input.sheet-weapon-underline {
    text-align: center;
    width: 51px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: solid;
    border-left-style: none;
    border-color: #808080;
    border-width: 1px;
    padding: 1px;
    margin: 1px;
}

/* Tab 2 Weapons Input Weapon Medium */
.charsheet input.sheet-weapon-medium {
    text-align: center;
    width: 95px;
    border-style: solid;
    border-color: #808080;
    border-width: 1px;
    padding: 1px;
    margin: 1px;
}

/* Tab 2 Weapons Input Weapon Long */
.charsheet input.sheet-weapon-long {
    text-align: center;
    width: 145px;
    border-style: solid;
    border-color: #808080;
    border-width: 1px;
    padding: 1px;
    margin: 1px;
}

/* Tab 2 Weapons Input Weapon Long Underline */
.charsheet input.sheet-weapon-long-underline {
    text-align: center;
    width: 145px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: solid;
    border-left-style: none;
    border-color: #808080;
    border-width: 1px;
    padding: 1px;
    margin: 1px;
}

/* Tab 2 Attack Roll Button Warrior 1 */
.charsheet button[type=roll].sheet-attack-roll-button-warrior1 {
    width: 34px;
}

/* Tab 2 Attack Roll Button Warrior 2 */
.charsheet button[type=roll].sheet-attack-roll-button-warrior2 {
    width: 34px;
}

/* Tab 2 Section 2 Show/Hide Sections */
.charsheet .sheet-show-hide-container {
    margin-bottom: -23px;
}

.charsheet input[type="checkbox"].sheet-show-hide {
	width: 98%;
	height: 28px;
	opacity: 0;
	margin: 0;
	position: relative;
    cursor: pointer;
	z-index: 1;
}

.charsheet .sheet-show-hide + label.sheet-inverted-two {
	margin-top: 10px;
    position: relative;
	top: -28px;
    font-size: 90%;
    color: white;
    background: black;
    text-align: center;
    width: 97%;
}

.charsheet .sheet-show-hide ~ .sheet-contained {
    position: relative;
	top: -28px;
}

.charsheet .sheet-show-hide:checked + label.sheet-inverted-two {
    background-color: #191919;
}

.charsheet .sheet-show-hide:checked ~ .sheet-contained {
	display: none;
    visibility: hidden;
}

.charsheet .sheet-pictos {
    font-family: "Pictos";
    font-size: 90%;
}

/* Tab 2 Section 2 Hit Location and Multiple Munitions Roll Buttons
    Hit Location Roll Button */
.charsheet button[type=roll].sheet-hit-location::before {
    content: "Hit Location";
    font-family: arial;
    font-size: 85%;
    font-weight: bold;
}

/* Punch Kick Location Roll Button */
.charsheet button[type=roll].sheet-punch-kick-location::before {
    content: "Punch / Kick Location";
    font-family: arial;
    font-size: 85%;
    font-weight: bold;
}

/* Critical Confirmation Roll Button */
.charsheet button[type=roll].sheet-critical::before {
    content: "Critical Confirmation";
    font-family: arial;
    font-size: 85%;
}

/* Multiple Munitions Hits Roll Button */
.charsheet button[type=roll].sheet-multiple-munitions-hit::before {
    content: "Multiple 'Munitions Hits";
    font-family: arial;
    font-size: 85%;
    font-weight: bold;
}

/* Tab 2 Section 2 Hit Location and Multiple Munitions Rollable Table Buttons
   Battlemech Left Side Hit Roll Button */
.charsheet button[type=roll].sheet-mech-left-hit::before {
    content: "Battlemech Left Side";
    font-family: arial;
    font-size: 85%;
    font-weight: bold;
}

/* Battlemech Front/Rear Hit Roll Button */
.charsheet button[type=roll].sheet-mech-front-rear-hit::before {
    content: "Battlemech Front / Rear";
    font-family: arial;
    font-size: 85%;
    font-weight: bold;
}

/* Battlemech Right Side Hit Roll Button */
.charsheet button[type=roll].sheet-mech-right-hit::before {
    content: "Battlemech Right Side";
    font-family: arial;
    font-size: 85%;
    font-weight: bold;
}

/*   Punch Left Side Hit Roll Button */
.charsheet button[type=roll].sheet-punch-left-hit::before {
    content: "Punch Left Side";
    font-family: arial;
    font-size: 85%;
    font-weight: bold;
}

/* Punch Front/Rear Hit Roll Button */
.charsheet button[type=roll].sheet-punch-front-rear-hit::before {
    content: "Punch Front / Rear";
    font-family: arial;
    font-size: 85%;
    font-weight: bold;
}

/* Punch Right Side Hit Roll Button */
.charsheet button[type=roll].sheet-punch-right-hit::before {
    content: "Punch Right Side";
    font-family: arial;
    font-size: 85%;
    font-weight: bold;
}

/* Kick Left Side Hit Roll Button */
.charsheet button[type=roll].sheet-kick-left-hit::before {
    content: "Kick Left Side";
    font-family: arial;
    font-size: 85%;
    font-weight: bold;
}

/* Kick Front/Rear Hit Roll Button */
.charsheet button[type=roll].sheet-kick-front-rear-hit::before {
    content: "Kick Front / Rear";
    font-family: arial;
    font-size: 85%;
    font-weight: bold;
}

/* Kick Right Side Hit Roll Button */
.charsheet button[type=roll].sheet-kick-right-hit::before {
    content: "Kick Right Side";
    font-family: arial;
    font-size: 85%;
    font-weight: bold;
}

/* Determinging Critical Hit Roll Button */
.charsheet button[type=roll].sheet-determine-critical::before {
    content: "Determine Critical Hit";
    font-family: arial;
    font-size: 85%;
    font-weight: bold;
}

/* Munition Hits 2 Roll Button */
.charsheet button[type=roll].sheet-missile-hits-2::before {
    content: "2 Missiles / Ultra AC / LB 2-X AC";
    font-family: arial;
    font-size: 85%;
    font-weight: bold;
}

/* Munition Hits 4 Roll Button */
.charsheet button[type=roll].sheet-missile-hits-4::before {
    content: "4 Missiles";
    font-family: arial;
    font-size: 85%;
    font-weight: bold;
}

/* Munition Hits 6 Roll Button */
.charsheet button[type=roll].sheet-missile-hits-6::before {
    content: "6 Missiles";
    font-family: arial;
    font-size: 85%;
    font-weight: bold;
}

/* Munition Hits 5 Roll Button */
.charsheet button[type=roll].sheet-missile-hits-5::before {
    content: "5 Missiles / LB 5-X AC";
    font-family: arial;
    font-size: 85%;
    font-weight: bold;
}

/* Munition Hits 10 Roll Button */
.charsheet button[type=roll].sheet-missile-hits-10::before {
    content: "10 Missiles / LB 10-X AC";
    font-family: arial;
    font-size: 85%;
    font-weight: bold;
}

/* Munition Hits 15 Roll Button */
.charsheet button[type=roll].sheet-missile-hits-15::before {
    content: "15 Missiles / LB 15-X AC";
    font-family: arial;
    font-size: 85%;
    font-weight: bold;
}

/* Munition Hits 20 Roll Button */
.charsheet button[type=roll].sheet-missile-hits-20::before {
    content: "20 Missiles / LB 20-X AC";
    font-family: arial;
    font-size: 85%;
    font-weight: bold;
}

/* Munition Hits 2 Modified Roll Button */
.charsheet button[type=roll].sheet-missile-hits-2-modified::before {
    content: "2 Missiles";
    font-family: arial;
    font-size: 85%;
    font-weight: bold;
}

/* Munition Hits 4 Modified Roll Button */
.charsheet button[type=roll].sheet-missile-hits-4-modified::before {
    content: "4 Missiles";
    font-family: arial;
    font-size: 85%;
    font-weight: bold;
}

/* Munition Hits 5 Modified Roll Button */
.charsheet button[type=roll].sheet-missile-hits-5-modified::before {
    content: "5 Missiles";
    font-family: arial;
    font-size: 85%;
    font-weight: bold;
}

/* Munition Hits 6 Modified Roll Button */
.charsheet button[type=roll].sheet-missile-hits-6-modified::before {
    content: "6 Missiles";
    font-family: arial;
    font-size: 85%;
    font-weight: bold;
}

/* Munition Hits 10 Modified Roll Button */
.charsheet button[type=roll].sheet-missile-hits-10-modified::before {
    content: "10 Missiles";
    font-family: arial;
    font-size: 85%;
    font-weight: bold;
}

/* Munition Hits 15 Modified Roll Button */
.charsheet button[type=roll].sheet-missile-hits-15-modified::before {
    content: "15 Missiles";
    font-family: arial;
    font-size: 85%;
    font-weight: bold;
}

/* Munition Hits 20 Modified Roll Button */
.charsheet button[type=roll].sheet-missile-hits-20-modified::before {
    content: "20 Missiles";
    font-family: arial;
    font-size: 85%;
    font-weight: bold;
}

/* Tab 2 Section 3 (Heat Scale) Background-6 */
/* <a href="http://imgur.com/uwy5mxT"><img src="http://i.imgur.com/uwy5mxT.jpg" title="source: imgur.com" /></a> */
.charsheet .sheet-background-6 {
    background-image: url("http://i.imgur.com/uwy5mxT.jpg");
    background-size: 100%;
    background-origin: content-box;
    background-repeat: no-repeat;
}

/* Tab 2 Heat Diagram Radio Buttons */

/* Tab 2 Section 2 Column 2 Heat Scale (Opacity for "0" Check Box) */
.charsheet .sheet-heat-checkbox {
    opacity: .1;
    margin-left: -15px;
}

/* Hide actual radio */
.charsheet input[type="radio"].sheet-heat-radio {
    opacity: 0;
    width: 16px;
    height: 16px;
    position: relative;
    top: 5px;
    left: 6px;
    margin: -10px;
    cursor: pointer;
    z-index: 1;
}

/* Fake radio */
.charsheet input[type="radio"].sheet-heat-radio + span::before {
    margin-right: 4px;
    border: solid 1px #a8a8a8;
    line-height: 14px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    
    -moz-box-shadow: 0 0 2px #ccc;
    -webkit-box-shadow: 0 0 2px #ccc;
    box-shadow: 0 0 2px #ccc;
    
    background: #f6f6f6;
    background: -moz-radial-gradient(#f6f6f6, #dfdfdf);
    background: -webkit-radial-gradient(#f6f6f6, #dfdfdf);
    background: -ms-radial-gradient(#f6f6f6, #dfdfdf);
    background: -o-radial-gradient(#f6f6f6, #dfdfdf);
    background: radial-gradient(#f6f6f6, #dfdfdf);
    
    content: "";
    width: 24px;
    height: 14px;
    font-size: 12px;
    color: #CF0000;
    
    -moz-border-radius: 20%;
    -webkit-border-radius: 20%;
    border-radius: 20%;
}

/* Remove dot from all radios _before_ selected one */
.charsheet input[type="radio"].sheet-heat-radio:checked ~ input[type="radio"].sheet-heat-radio + span::before,
input[type="radio"].sheet-heat-radio:checked + span::before {    
    content: "◄►";
}

/*Narrow Border Styling*/
.charsheet .sheet-narrow-border {
    border-style: solid;
    border-color: black;
    border-width: 3px;
    padding: 5px;
    padding-top: 0px;
    margin: 10px;
    margin-bottom: 15px;
    box-shadow: 10px 10px 5px #888888;
}

/* Tab 2 Section 3 (Heat Scale) Table One  */
.charsheet .sheet-table-one {
    font-size: 85%;
    font-weight: bold;
    margin-top: 10px;
}

.charsheet .sheet-table-one-header {
    font-size: 100%;
    color: #ffffff;
    text-align: center;
    background-color: #666666;
}

.charsheet .sheet-table-two-header {
    font-size: 110%;
    text-align: right;
}

.charsheet .sheet-table-three-header {
    font-size: 110%;
    text-align: left;
}

.charsheet .sheet-table-four-header {
    font-size: 110%;
    text-align: center;
}

.charsheet .sheet-table-one-alternate {
    background-color: #e6e6e6;
}
    
.charsheet .sheet-superscript {
    font-size: 120%;
}

/* Tab 3 (Quad Armor) Background-3 */
/* <a href="http://imgur.com/fm2pGCt"><img src="http://i.imgur.com/fm2pGCt.jpg" title="source: imgur.com" /></a> */
.charsheet .sheet-background-3 {
    background-image: url("http://i.imgur.com/fm2pGCt.jpg");
    background-size: 800px 350px;
    background-origin: content-box;
    background-repeat: no-repeat;
}

/* Tab 3 (Quad Armor) Background-4 */
/* <a href="http://imgur.com/US2OvM4"><img src="http://i.imgur.com/US2OvM4.jpg" title="source: imgur.com" /></a> */
.charsheet .sheet-background-4 {
    background-image: url("http://i.imgur.com/US2OvM4.jpg");
    background-size: 290px 150px;
    background-origin: content-box;
    background-repeat: no-repeat;
}

/* Torso Critical Location Roll Button */
.charsheet button[type=roll].sheet-torso-critical::before {
    content: "Torso Critical Location";
    font-family: arial;
    font-size: 65%;
    font-weight: bold;
    margin-bottom: 5px;
}
/* Tab 4 Other Units Styling */

/* Vehicle Table */
.charsheet .sheet-table-vehicle {
    font-size: 85%;
    font-weight: bold;
}

/* Select Vehicle Movement / Suspension Factor */
.charsheet select.sheet-vehicle-select {
    display: inline;
    width: 120px;
    height: 20px;
    padding: 1px;
    margin: 2px;
    font-size: 90%;
    font-weight: bold;
}

/* Vehicle Label Adjust */
.charsheet .sheet-label-vehicle {
    display: inline;
    font-size: 95%;
    font-weight: bold;
}

/* Tab 4 (Other Unit)  Number Input Box */
.charsheet input[type="number"].sheet-number-large {
    width: 55px;
    height: 18px;
    padding: 1px;
    margin: 2px;
    text-align: center;
}

/* Tab 4 (Other Units) Vehicle-Background-1 */
/* <a href="http://imgur.com/eRfgTal"><img src="http://i.imgur.com/eRfgTal.jpg" title="source: imgur.com" /></a> */
.charsheet .sheet-background-5 {
    background-image: url("http://i.imgur.com/eRfgTal.jpg");
    background-size: 535px 750px;
    background-origin: content-box;
    background-repeat: no-repeat;
}

/* Vehicle Armor Diagram Adjustmets Front */
.charsheet .sheet-vehicle-top {
    text-align: center;
}

/* Vehicle Armor Diagram Adjustmets Left Side */
.charsheet .sheet-vehicle-left {
    text-align: left;
    margin-top: -25%;
}

/* Vehicle Armor Diagram Adjustmets Turret */
.charsheet .sheet-vehicle-turret {
    text-align: center;
    margin-top: 10%;
    margin-left: -10%;
}

/* Vehicle Armor Diagram Adjustmets Right Side */
.charsheet .sheet-vehicle-right {
    text-align: right;
    margin-top: -25%;
    margin-left: -16%;
}

/* Tab 5 Rolltemplate Table of Colors */
.charsheet .sheet-table-colors {
    width: 98%;
    font-weight: bold;
    border-style: solid;
    border-color: #000000;
    border-width: 1px;
    margin-top: 5px;
    text-align: center;
    vertical-align: bottom;
}

.charsheet .sheet-table-light {
    background-color: #A9A9A9;
}

.charsheet .sheet-table-black {
    margin: 2px;
}

.charsheet .sheet-table-purple {
    color: #9900ff;
    margin: 2px;
}

.charsheet .sheet-table-blue {
    color: #0000ff;
    margin: 2px;
}

.charsheet .sheet-table-lime {
    color: #00ff00;
    margin: 2px;
}

.charsheet .sheet-table-gold {
    color: #f1c232;
    margin: 2px;
}

.charsheet .sheet-table-maroon {
    color: #800000;
    margin: 2px;
}

.charsheet .sheet-table-dark {
    background-color: #191919;
    color: #ffffff;
}

.charsheet .sheet-table-white {
    color: #ffffff;
    margin: 2px;
}

.charsheet .sheet-table-yellow {
    color: #ffff00;
    margin: 2px;
}

.charsheet .sheet-table-orange {
    color: #ff9900;
    margin: 2px;
}

.charsheet .sheet-table-red {
    color: #ff0000;
    margin: 2px;
}

.charsheet .sheet-table-aqua {
    color: #00ffff;
    margin: 2px;
}

.charsheet .sheet-table-steelblue {
    color: #4682B4;
    margin: 2px;
}

/* Tab 5 Rollable Table Data Border */
.charsheet .sheet-table-two {
    font-size: 85%;
    font-weight: bold;
    border-style: solid;
    border-color: #808080;
    border-width: 1px;
    margin-top: 5px;
}

/* Roll Templates Light Background (Black) */
/* <a href="http://imgur.com/B9h8hTe"><img src="http://i.imgur.com/B9h8hTe.png" title="source: imgur.com" /></a> */
.sheet-rolltemplate-battletech-black table {
    width: 189px;
    height: 100%;
    padding: 2px;
    background: url(http://i.imgur.com/B9h8hTe.png) top left;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    font-family: "Arial Black", Gadget, sans-serif;
    border-spacing: 0;
}
 
.sheet-rolltemplate-battletech-black th {
    color: rgb(0, 0, 0);
    padding: 10px 1px 10px 25px;
    line-height: 1.1em;
	font-size: 1.1em;
    text-shadow: 1px 1px #C1C1C1;
    text-align: center;
}
 
.sheet-rolltemplate-battletech-black td {
    padding-left: 30px;
    font-size: 0.9em;
    vertical-align: top;
    color: #ffffff;
}

.sheet-rolltemplate-battletech-black .sheet-footer {
    color: #000000;
    text-shadow: 1px 1px #C1C1C1;
}

.sheet-rolltemplate-battletech-black .inlinerollresult  {
    background-color: transparent;
    color: #ffffff;
    border: none;
    font-size: 1em;
}
 
.sheet-rolltemplate-battletech-black .inlinerollresult.fullcrit {
	color: #3FB315;
    border: none;
}
 
.sheet-rolltemplate-battletech-black .inlinerollresult.fullfail {
    color: #B31515;
    border: none;
}
 
.sheet-rolltemplate-battletech-black .inlinerollresult.importantroll {
	color: #3FB315;
    border: none;
}
/* Purple Rolltemplate */
.sheet-rolltemplate-battletech-purple table {
    width: 189px;
    height: 100%;
    padding: 2px;
    background: url(http://i.imgur.com/B9h8hTe.png) top left;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    font-family: "Arial Black", Gadget, sans-serif;
    border-spacing: 0;
}
 
.sheet-rolltemplate-battletech-purple th {
    color: #9900ff;
    padding: 10px 1px 10px 25px;
    line-height: 1.1em;
    font-size: 1.1em;
    text-shadow: 1px 1px #333333;
    text-align: center;
}
 
.sheet-rolltemplate-battletech-purple td {
    padding-left: 30px;
    font-size: 0.9em;
    vertical-align: top;
    color: #ffffff;
}

.sheet-rolltemplate-battletech-purple .sheet-colorize {
    color: #ffffff;
}

.sheet-rolltemplate-battletech-purple .sheet-footer {
    color: #9900ff;
    text-shadow: 1px 1px #333333;
}

.sheet-rolltemplate-battletech-purple .inlinerollresult  {
    background-color: transparent;
    color: #ffffff;
    border: none;
    font-size: 1em;
}
 
.sheet-rolltemplate-battletech-purple .inlinerollresult.fullcrit {
	color: #3FB315;
    border: none;
}
 
.sheet-rolltemplate-battletech-purple .inlinerollresult.fullfail {
    color: #B31515;
    border: none;
}
 
.sheet-rolltemplate-battletech-purple .inlinerollresult.importantroll {
	color: #3FB315;
    border: none;
}

/* Blue Rolltemplate */
.sheet-rolltemplate-battletech-blue table {
    width: 189px;
    height: 100%;
    padding: 2px;
    background: url(http://i.imgur.com/B9h8hTe.png) top left;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    font-family: "Arial Black", Gadget, sans-serif;
    border-spacing: 0;
}
 
.sheet-rolltemplate-battletech-blue th {
    color: #0000ff;
    padding: 10px 1px 10px 25px;
    line-height: 1.1em;
    font-size: 1.1em;
    text-shadow: 1px 1px #333333;
    text-align: center;
}
 
.sheet-rolltemplate-battletech-blue td {
    padding-left: 30px;
    font-size: 0.9em;
    vertical-align: top;
    color: #ffffff;
}

.sheet-rolltemplate-battletech-blue .sheet-footer {
    color: #0000ff;
    text-shadow: 1px 1px #333333;
}

.sheet-rolltemplate-battletech-blue .inlinerollresult  {
    background-color: transparent;
    color: #ffffff;
    border: none;
    font-size: 1em;
}
 
.sheet-rolltemplate-battletech-blue .inlinerollresult.fullcrit {
    color: #3FB315;
    border: none;
}
 
.sheet-rolltemplate-battletech-blue .inlinerollresult.fullfail {
    color: #B31515;
    border: none;
}
 
.sheet-rolltemplate-battletech-blue .inlinerollresult.importantroll {
	color: #3FB315;
    border: none;
}

/* Steel-Blue Rolltemplate */
.sheet-rolltemplate-battletech-steelblue table {
    width: 189px;
    height: 100%;
    padding: 2px;
    background: url(http://i.imgur.com/B9h8hTe.png) top left;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    font-family: "Arial Black", Gadget, sans-serif;
    border-spacing: 0;
}
 
.sheet-rolltemplate-battletech-steelblue th {
    color: #4682B4;
    padding: 10px 1px 10px 25px;
    line-height: 1.1em;
    font-size: 1.1em;
    text-shadow: 1px 1px #000000;
    text-align: center;
}
 
.sheet-rolltemplate-battletech-steelblue td {
    padding-left: 30px;
    font-size: 0.9em;
    vertical-align: top;
    color: #ffffff;
}

.sheet-rolltemplate-battletech-steelblue .sheet-footer {
    color: #4682B4;
    text-shadow: 1px 1px #000000;
}

.sheet-rolltemplate-battletech-steelblue .inlinerollresult  {
    background-color: transparent;
    color: #ffffff;
    border: none;
    font-size: 1em;
}
 
.sheet-rolltemplate-battletech-steelblue .inlinerollresult.fullcrit {
    color: #3FB315;
    border: none;
}
 
.sheet-rolltemplate-battletech-steelblue .inlinerollresult.fullfail {
    color: #B31515;
    border: none;
}
 
.sheet-rolltemplate-battletech-steelblue .inlinerollresult.importantroll {
    color: #3FB315;
    border: none;
}

/* Gold Rolltemplate */
.sheet-rolltemplate-battletech-gold table {
    width: 189px;
    height: 100%;
    padding: 2px;
    background: url(http://i.imgur.com/B9h8hTe.png) top left;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    font-family: "Arial Black", Gadget, sans-serif;
    border-spacing: 0;
}
 
.sheet-rolltemplate-battletech-gold th {
    color: #f1c232;
    padding: 10px 1px 10px 25px;
    line-height: 1.1em;
    font-size: 1.1em;
    text-shadow: 1px 1px #000000;
    text-align: center;
}
 
.sheet-rolltemplate-battletech-gold td {
    padding-left: 30px;
    font-size: 0.9em;
    vertical-align: top;
    color: #ffffff;
}

.sheet-rolltemplate-battletech-gold .sheet-footer {
    color: #f1c232;
    text-shadow: 1px 1px #000000;
}

.sheet-rolltemplate-battletech-gold .inlinerollresult  {
    background-color: transparent;
    color: #ffffff;
    border: none;
    font-size: 1em;
}
 
.sheet-rolltemplate-battletech-gold .inlinerollresult.fullcrit {
    color: #3FB315;
    border: none;
}
 
.sheet-rolltemplate-battletech-gold .inlinerollresult.fullfail {
    color: #B31515;
    border: none;
}
 
.sheet-rolltemplate-battletech-gold .inlinerollresult.importantroll {
    color: #3FB315;
    border: none;
}

/* Maroon Rolltemplate */
.sheet-rolltemplate-battletech-maroon table {
    width: 189px;
    height: 100%;
    padding: 2px;
    background: url(http://i.imgur.com/B9h8hTe.png) top left;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    font-family: "Arial Black", Gadget, sans-serif;
    border-spacing: 0;
}
 
.sheet-rolltemplate-battletech-maroon th {
    color: #800000;
    padding: 10px 1px 10px 25px;
    line-height: 1.1em;
    font-size: 1.1em;
    text-shadow: 1px 1px #333333;
    text-align: center;
}
 
.sheet-rolltemplate-battletech-maroon td {
    padding-left: 30px;
    font-size: 0.9em;
    vertical-align: top;
    color: #ffffff;
}

.sheet-rolltemplate-battletech-maroon .sheet-footer {
    color: #800000;
    text-shadow: 1px 1px #333333;
}

.sheet-rolltemplate-battletech-maroon .inlinerollresult  {
    background-color: transparent;
    color: #ffffff;
    border: none;
    font-size: 1em;
}
 
.sheet-rolltemplate-battletech-maroon .inlinerollresult.fullcrit {
    color: #3FB315;
    border: none;
}
 
.sheet-rolltemplate-battletech-maroon .inlinerollresult.fullfail {
    color: #B31515;
    border: none;
}
 
.sheet-rolltemplate-battletech-maroon .inlinerollresult.importantroll {
    color: #3FB315;
    border: none;
}

/* Roll Templates Dark Background (White) */
/* <a href="http://imgur.com/Jqo7tDz"><img src="http://i.imgur.com/Jqo7tDz.png" title="source: imgur.com" /></a> */
.sheet-rolltemplate-battletech-white table {
    width: 189px;
    height: 100%;
    padding: 2px;
    background: url(http://i.imgur.com/Jqo7tDz.png) top left;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    font-family: "Arial Black", Gadget, sans-serif;
    border-spacing: 0;
}
 
.sheet-rolltemplate-battletech-white th {
    color: #ffffff;
    padding: 10px 1px 10px 25px;
    line-height: 1.1em;
    font-size: 1.1em;
    text-shadow: 1px 1px #000000;
    text-align: center;
}
 
.sheet-rolltemplate-battletech-white td {
    padding-left: 30px;
    font-size: 0.9em;
    vertical-align: top;
    color: #ffffff;
}

.sheet-rolltemplate-battletech-white .sheet-footer {
    color: #ffffff;
    text-shadow: 1px 1px #000000;
}

.sheet-rolltemplate-battletech-white .inlinerollresult  {
    background-color: transparent;
    color: #ffffff;
    border: none;
    font-size: 1em;
}

.sheet-rolltemplate-battletech-white .inlinerollresult.fullcrit {
    color: #3FB315;
    border: none;
}
 
.sheet-rolltemplate-battletech-white .inlinerollresult.fullfail {
    color: #B31515;
    border: none;
}
 
.sheet-rolltemplate-battletech-white .inlinerollresult.importantroll {
	color: #3FB315;
    border: none;
}

/* Yellow Roll Template */
.sheet-rolltemplate-battletech-yellow table {
    width: 189px;
    height: 100%;
    padding: 2px;
    background: url(http://i.imgur.com/Jqo7tDz.png) top left;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    font-family: "Arial Black", Gadget, sans-serif;
    border-spacing: 0;
}
 
.sheet-rolltemplate-battletech-yellow th {
    color: #ffff00;
    padding: 10px 1px 10px 25px;
    line-height: 1.1em;
    font-size: 1.1em;
    text-shadow: 1px 1px #000000;
    text-align: center;
}
 
.sheet-rolltemplate-battletech-yellow td {
    padding-left: 30px;
    font-size: 0.9em;
    vertical-align: top;
    color: #ffffff;
}

.sheet-rolltemplate-battletech-yellow .sheet-footer {
    color: #ffff00;
    text-shadow: 1px 1px #000000;
}

.sheet-rolltemplate-battletech-yellow .inlinerollresult  {
    background-color: transparent;
    color: #ffffff;
    border: none;
    font-size: 1em;
}

.sheet-rolltemplate-battletech-yellow .inlinerollresult.fullcrit {
    color: #3FB315;
    border: none;
}
 
.sheet-rolltemplate-battletech-yellow .inlinerollresult.fullfail {
    color: #B31515;
    border: none;
}
 
.sheet-rolltemplate-battletech-yellow .inlinerollresult.importantroll {
    color: #3FB315;
    border: none;
}

/* Orange Roll Template */
.sheet-rolltemplate-battletech-orange table {
    width: 189px;
    height: 100%;
    padding: 2px;
    background: url(http://i.imgur.com/Jqo7tDz.png) top left;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    font-family: "Arial Black", Gadget, sans-serif;
    border-spacing: 0;
}
 
.sheet-rolltemplate-battletech-orange th {
    color: #ff9900;
    padding: 10px 1px 10px 25px;
    line-height: 1.1em;
    font-size: 1.1em;
    text-shadow: 1px 1px #000000;
    text-align: center;
}
 
.sheet-rolltemplate-battletech-orange td {
    padding-left: 30px;
    font-size: 0.9em;
    vertical-align: top;
    color: #ffffff;
}

.sheet-rolltemplate-battletech-orange .sheet-footer {
    color: #ff9900;
    text-shadow: 1px 1px #000000;
}

.sheet-rolltemplate-battletech-orange .inlinerollresult  {
    background-color: transparent;
    color: #ffffff;
    border: none;
    font-size: 1em;
}

.sheet-rolltemplate-battletech-orange .inlinerollresult.fullcrit {
    color: #3FB315;
    border: none;
}
 
.sheet-rolltemplate-battletech-orange .inlinerollresult.fullfail {
    color: #B31515;
    border: none;
}
 
.sheet-rolltemplate-battletech-orange .inlinerollresult.importantroll {
    color: #3FB315;
    border: none;
}

/* Red Roll Template */
.sheet-rolltemplate-battletech-red table {
    width: 189px;
    height: 100%;
    padding: 2px;
    background: url(http://i.imgur.com/Jqo7tDz.png) top left;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    font-family: "Arial Black", Gadget, sans-serif;
    border-spacing: 0;
}
 
.sheet-rolltemplate-battletech-red th {
    color: #ff0000;
    padding: 10px 1px 10px 25px;
    line-height: 1.1em;
    font-size: 1.1em;
    text-shadow: 1px 1px #000000;
    text-align: center;
}
 
.sheet-rolltemplate-battletech-red td {
    padding-left: 30px;
    font-size: 0.9em;
    vertical-align: top;
    color: #ffffff;
}

.sheet-rolltemplate-battletech-red .sheet-footer {
    color: #ff0000;
    text-shadow: 1px 1px #000000;
}

.sheet-rolltemplate-battletech-red .inlinerollresult  {
    background-color: transparent;
    color: #ffffff;
    border: none;
    font-size: 1em;
}

.sheet-rolltemplate-battletech-red .inlinerollresult.fullcrit {
    color: #3FB315;
    border: none;
}
 
.sheet-rolltemplate-battletech-red .inlinerollresult.fullfail {
    color: #B31515;
    border: none;
}
 
.sheet-rolltemplate-battletech-red .inlinerollresult.importantroll {
    color: #3FB315;
    border: none;
}

/* Aqua Roll Template */
.sheet-rolltemplate-battletech-aqua table {
    width: 189px;
    height: 100%;
    padding: 2px;
    background: url(http://i.imgur.com/Jqo7tDz.png) top left;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    font-family: "Arial Black", Gadget, sans-serif;
    border-spacing: 0;
}
 
.sheet-rolltemplate-battletech-aqua th {
    color: #00ffff;
    padding: 10px 1px 10px 25px;
    line-height: 1.1em;
    font-size: 1.1em;
    text-shadow: 1px 1px #000000;
    text-align: center;
}
 
.sheet-rolltemplate-battletech-aqua td {
    padding-left: 30px;
    font-size: 0.9em;
    vertical-align: top;
    color: #ffffff;
}

.sheet-rolltemplate-battletech-aqua .sheet-footer {
    color: #00ffff;
    text-shadow: 1px 1px #000000;
}

.sheet-rolltemplate-battletech-aqua .inlinerollresult  {
    background-color: transparent;
    color: #ffffff;
    border: none;
    font-size: 1em;
}

.sheet-rolltemplate-battletech-aqua .inlinerollresult.fullcrit {
    color: #3FB315;
    border: none;
}
 
.sheet-rolltemplate-battletech-aqua .inlinerollresult.fullfail {
    color: #B31515;
    border: none;
}
 
.sheet-rolltemplate-battletech-aqua .inlinerollresult.importantroll {
    color: #3FB315;
    border: none;
}

/* Lime Roll Template */
.sheet-rolltemplate-battletech-lime table {
    width: 189px;
    height: 100%;
    padding: 2px;
    background: url(http://i.imgur.com/Jqo7tDz.png) top left;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    font-family: "Arial Black", Gadget, sans-serif;
    border-spacing: 0;
}
 
.sheet-rolltemplate-battletech-lime th {
    color: #00ff00;
    padding: 10px 1px 10px 25px;
    line-height: 1.1em;
    font-size: 1.1em;
    text-shadow: 1px 1px #000000;
    text-align: center;
}
 
.sheet-rolltemplate-battletech-lime td {
    padding-left: 30px;
    font-size: 0.9em;
    vertical-align: top;
    color: #ffffff;
}

.sheet-rolltemplate-battletech-lime .sheet-footer {
    color: #00ff00;
    text-shadow: 1px 1px #000000;
}

.sheet-rolltemplate-battletech-lime .inlinerollresult  {
    background-color: transparent;
    color: #ffffff;
    border: none;
    font-size: 1em;
}

.sheet-rolltemplate-battletech-lime .inlinerollresult.fullcrit {
    color: #3FB315;
    border: none;
}
 
.sheet-rolltemplate-battletech-lime .inlinerollresult.fullfail {
    color: #B31515;
    border: none;
}
 
.sheet-rolltemplate-battletech-lime .inlinerollresult.importantroll {
    color: #3FB315;
    border: none;
}
